<div ng-app="footTrafficApp" align="center" width="80%">
  <h2>Welcome to Foot Traffic reporting</h2>

       <p>Select the type of graph you would like to view</p>
       <a href="/daily_view">Time series (daily) view</a><br>
       <a href="/histogram_view">Histogram View</a>


</div>